@import "../variables";

.contact-me {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-family: $font-regular;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  input {
    width: 75%;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: solid $grey 1px;
    font-family: $font-regular;
    color: black;
    font-size: 15px;
  }
  input::placeholder {
    font-family: $font-regular;
    color: black;
  }
  input:focus {
    border: rgb(13, 94, 35) solid 1px;
  }
  textarea {
    font-size: 15px;
    border-radius: 3px;
    border: solid $grey 1px;
    resize: none;
    font-family: $font-regular;
    color: black;
    width: 76%;
    height: 200px;
  }
  textarea::placeholder {
    font-family: $font-regular;
    color: black;
  }
  textarea:focus {
    border: rgb(13, 94, 35) solid 1px;
  }
  .send-button {
    background: $red;
    border: none;
    color: white;
    width: 50%;
    font-weight: 700;
    outline: white;
    cursor: pointer;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .contact-me {
    width: 100%;
    height: 60%;
  }
}
