.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.selected {
  width: 50%;
  /* transform: translateX(550px);
  transition: transform 0.5s; */
}
