@import "./variables";
.Header {
  height: 100vh;
  width: 30%;
  border-right: $medium-grey 1.2px dotted;
  // border-right: black 1.2px dotted;
  font-family: $font-regular;
  .header-links {
    margin: 5px 15px 0px 15px;
    font-weight: 500;
    color: $medium-grey;
    cursor: pointer;
  }
  .header-links:hover {
    color: navy;
  }
  .addition-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
    .addition-p {
      margin: 0px;
    }
  }
  .footer-header {
    margin: 20px 0;
    display: flex;
    align-content: center;
    a {
      margin: 0 10px 0 10px;
    }
  }
  .Header-results {
    margin: 0px 10px;
    .header-p {
      margin: 10px 0;
      cursor: pointer;
    }
  }
  h1 {
    margin: auto;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: "Staatliches", cursive;
    letter-spacing: 3px;
    cursor: pointer;
  }
  .linksToTrans {
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  .linkShow {
    transition: 0.5s ease-in-out;
    height: 42px;
    overflow: hidden;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      height: 100%;
      margin-right: 10px;
      li {
        margin: 0 5px 0 5px;
        cursor: pointer;
      }
      li:hover {
        background: black;
        color: white;
      }
      .divider-header {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 600px) {
  .Header {
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1;
    left: 0;
    top: 0;
    background: white;
    transition: width 0.6s ease-out;
    overflow-x: hidden;
    header {
      min-width: 100%;
    }
    .header-links {
      overflow: hidden;
      min-width: 100%;
    }
    footer {
      width: 100%;
      div {
        min-width: 70px;
      }
    }
  }
  h1 {
    min-width: 300px;
  }
  .transform {
    width: 0%;
    transition: width 0.5s ease-out;
    overflow-x: hidden;
  }
}
@media (max-width: 440px) {
  h1 {
    font-size: 25px;
    min-width: 200px;
  }
}
