@import "./variables";

.Header {
  height: 100vh;
  width: 50%;
  border-right: $grey 1.2px solid;
  font-family: $font-regular;
  .header-links {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    cursor: pointer;
  }
  .header-links:hover {
    background: black;
    color: white;
    animation: onHover 1s;
    @keyframes onHover {
      0% {
        color: grey;
        background: $grey;
      }
      100% {
        background: black;
        color: white;
      }
    }
  }
  // .circle {
  //   background: $red;
  //   height: 12px;
  //   width: 12px;
  //   border-radius: 100%;
  //   margin: 0 10px 0 10px;
  // }
  footer {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 50%;
    border-top: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    a {
      margin: 0 5px 0 5px;
    }
    p {
      margin-right: 5px;
    }
  }
  .Header-results {
    height: 45%;
    width: 95%;
    border-top: black solid 2px;
    margin: 50px auto;
    .Links {
      width: 100%;
      height: 30px;
      .linkarrow,
      .circle {
        position: relative;
        width: 15px;
        top: -34px;
        left: 95%;
      }
    }
  }
  h1 {
    // margin: 16px 35px;
    margin: auto 10px;
    font-family: "Staatliches", cursive;
    letter-spacing: 3px;
    cursor: pointer;
  }
  .drop-menu,
  .drop-menu-open {
    margin: auto;
    width: 94%;
    border: black solid 1px;
    overflow: hidden;
    z-index: 5;
    p {
      margin: 0 0 20px 10px;
      width: 15%;
      cursor: pointer;
    }
    p:hover {
      background: black;
      color: white;
    }
    img {
      position: relative;
      left: 95%;
      top: 12px;
    }
  }
  .drop-menu {
    height: 45px;
    transition: height 0.5s;
    img {
      transform: rotate(90deg);
      transition: transform 0.5s;
    }
  }
  .drop-menu-open {
    height: 130px;
    transition: height 0.5s;
    img {
      transform: rotate(270deg);
      transition: transform 0.5s;
    }
  }
  header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    // background: blue;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      // background: white;
      height: 100%;
      margin-right: 10px;
      li {
        margin: 0 5px 0 5px;
        cursor: pointer;
      }
      li:hover {
        background: black;
        color: white;
      }
      .divider-header {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 600px) {
  .Header {
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1;
    left: 0;
    top: 0;
    background: white;
    transition: width 0.6s ease-out;
    overflow-x: hidden;
    header {
      min-width: 100%;
    }
    .header-links {
      overflow: hidden;
      min-width: 100%;
    }
    footer {
      width: 100%;
      div {
        min-width: 70px;
      }
    }
  }
  h1 {
    overflow: hidden;
    min-width: 300px;
  }
  .transform {
    width: 0%;
    transition: width 0.5s ease-out;
    overflow-x: hidden;
  }
}
@media (max-width: 440px) {
  h1 {
    font-size: 25px;
    min-width: 200px;
  }
}
